{% extends "layout.html" %}

{% block title %}
    History
{% endblock title %}

{% block addon %}
    History
{% endblock %}

{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for s in transactions %}
                <tr>
                    <td class="border-0 fw-bold text-end">{{s['symbol']}}</td>
                    <td class="border-0 fw-bold text-end">{{s['quantity']}}</td>
                    <td class="border-0 fw-bold text-end">{{s['price']}}</td>
                    <td class="border-0 fw-bold text-end">{{s['time']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock main %}