<!Document html>

<html lang="en">
    <head>
                <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <title>Edit Birthdays</title>
    </head>
    <!--Setup to edit birthdays-->
    <div class="container">
        <h1>Edit Birthday</h1>
    </div>
    <!--Add text feilds-->
    <div class="section container" style="padding_top: 5rem">
        <form action="/edit_DB" method="POST">
            {% for item in birthday %}
                <input type="text" name="name" value={{item.name}}>
                <input type="number" name="month" value={{item.month}}>
                <input type="number" name="day" value={{item.day}}>
                <input type="submit" name="edit_id" value={{item.id}}>
            {% endfor %}
        </form>
    </div>
</html>